{% extends 'base.html' %}
{% load static %}
{% block title %}
flipkart
{% endblock %}

{% block content %}
   <section >
           <h2>Great Indian Festival1</h2>
              <a href="{% url 'QuizOne' %}"><img align="center" border="2" height="350px" width="750px"  src="{% static 'images/1.png' %}" alt="Great"></a>
              <br>
              <button class="custom-button"  onclick="location.href='{% url 'QuizOne' %}'">Click Here</button>
     </section>
     <br>
   <section >
           <h2>Great Indian Festival2</h2>
              <a href="{% url 'QuizTwo' %}"><img align="center" border="2" height="350px" width="750px"  src="{% static 'images/2.png' %}" alt="Great"></a>
              <br>
              <button class="custom-button"  onclick="location.href='{% url 'QuizTwo' %}'">Click Here</button>
     </section>
     <br>
   <section >
           <h2>Great Indian Festival3</h2>
              <a href="{% url 'QuizThree' %}"><img align="center" border="2" height="350px" width="750px"  src="{% static 'images/3.jpg' %}" alt="Great"></a>
              <br>
              <button class="custom-button"  onclick="location.href='{% url 'QuizThree' %}'">Click Here</button>
     </section>
     <br>
   <section >
           <h2>Great Indian Festival4</h2>
              <a href="{% url 'QuizFour' %}"><img align="center" border="2" height="350px" width="750px"  src="{% static 'images/4.jpg' %}" alt="Great"></a>
              <br>
              <button class="custom-button"  onclick="location.href='{% url 'QuizFour' %}'">Click Here</button>
     </section>
     <br>
   <section >
           <h2>Great Indian Festival5</h2>
              <a href="{% url 'QuizFive' %}"><img align="center" border="2" height="350px" width="750px"  src="{% static 'images/5.jpg' %}" alt="Great"></a>
              <br>
              <button class="custom-button"  onclick="location.href='{% url 'QuizFive' %}'">Click Here</button>
     </section>
     <br>
   <section >
           <h2>Great Indian Festival6</h2>
              <a href="{% url 'QuizSix' %}"><img align="center" border="2" height="350px" width="750px"  src="{% static 'images/6_1.jpg' %}" alt="Great"></a>
              <br>
              <button class="custom-button"  onclick="location.href='{% url 'QuizSix' %}'">Click Here</button>
     </section>
     <br>
   <section >
           <h2>Great Indian Festival7</h2>
              <a href="{% url 'QuizSeven' %}"><img align="center" border="2" height="350px" width="750px"  src="{% static 'images/7_1.jpg' %}" alt="Great"></a>
              <br>
              <button class="custom-button"  onclick="location.href='{% url 'QuizSeven' %}'">Click Here</button>
     </section>
     <br>
   <section >
           <h2>Great Indian Festival8</h2>
              <a href="{% url 'QuizEight' %}"><img align="center" border="2" height="350px" width="750px"  src="{% static 'images/8.jpg' %}" alt="Great"></a>
              <br>
              <button class="custom-button"  onclick="location.href='{% url 'QuizEight' %}'">Click Here</button>
     </section>

   <section >
           <h2>Great Indian Festival9</h2>
              <a href="{% url 'QuizNine' %}"><img align="center" border="2" height="350px" width="750px"  src="{% static 'images/9.jpg' %}" alt="Great"></a>
              <br>
              <button class="custom-button"  onclick="location.href='{% url 'QuizNine' %}'">Click Here</button>
     </section>
   <section >
           <h2>Great Indian Festival10</h2>
              <a href="{% url 'QuizTen' %}"><img align="center" border="2" height="350px" width="750px"  src="{% static 'images/10.png' %}" alt="Great"></a>
              <br>
              <button class="custom-button"  onclick="location.href='{% url 'QuizTen' %}'">Click Here</button>
     </section>
     <br>



{% endblock %}
